.section-news {
  font-family: $font-secondary;
  height: 540px;

  &__header {
    padding: 30px 0;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
  }
}

.news-slider {
  position: relative;
  
  // &::before {
  //   content: '';
  //   background-color: $color-purple;
  //   position: absolute;
  //   top: -20px;
  //   left: -20px;
  //   width: 350px;
  //   height: 245px;
  // }

  // &::after {
  //   content: '';
  //   background-color: $color-red;
  //   position: absolute;
  //   bottom: -20px;
  //   right: -20px;
  //   width: 350px;
  //   height: 245px;
  // }

  &__slide {
    width: 350px;
    height: 245px;
    border: 1px solid $color-lightgray2;
    background-color: $color-white;
    z-index: 2;

  }

  &__content {
    padding: 30px 28px;
  }
  
  &__date {
    font-size: 14px;
    color: $color-darkgray;
  }

  &__heading {
    padding-top: 8px;
    font-size: 18px;
    color: $color-black;
  }
  
  .swiper-pagination-bullet {
    background-color: $color-red;
    width: 10px;
    height: 10px;
  }
}

.btn-wrapper {
  padding-top: 40px;
}
