// === fonts ===

$font-primary: 'Ubuntu', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// === /fonts ===


// === colors ===

$color-black: #2B2B2B;

$color-red: #D51522;
$color-dark-red: #A3111B;

$color-white: #FFFFFF;

$color-purple: #211F2B;

$color-lightgray: #CACACA;
$color-lightgray2: #D8D8D8;
$color-gray: #8C8C8C;
$color-darkgray: #636363;

// === /colors ===

